<div class="header">
  <div class="header-content">
    <div class="navbar-left">
      <a style="cursor: pointer;" (click)="redirect('/')">
        <img src="../../assets/logo.svg" alt="logo" />
      </a>
    </div>
    <div class="navbar-right-desktop desktop font-400 primary-color">
      <p *ngFor="let item of headerItems" (click)="redirect(item.url, item.fragment)">{{item.title}}</p>
    </div>
    <div class="navbar-right-mobile mobile pointer">
      <img src="../../assets/menu.svg" alt="menu" *ngIf="!showMenu" (click)="showMenu = !showMenu" />
      <img src="../../assets/exit.svg" alt="menu" *ngIf="showMenu" (click)="showMenu = !showMenu" />
    </div>
  </div>
  <div class="header-mobile-content font-400 mobile primary-color" *ngIf="showMenu">
    <div *ngFor="let item of headerItems" class="header-mobile-list" (click)="redirect(item.url, item.fragment)">
      <img src="{{item.icon}}" alt="{{item.title}}" />
      <p>{{item.title}}</p>
    </div>
  </div>
</div>