<div class="education-container secondary-color">
    <div class="education-content">
        <div class="education-header font-300 header-text center">
            <a>EDUCATION.</a>
        </div>
        <div class="education-body font-300 body-text">
            <div class="education-highschool">
                <p class="bold">High School</p>
                <p>Siena College, Quezon City</p>
            </div>
            <div class="education-college">
                <p class="bold">Bachelor's Degree</p>
                <p>Pamantasan ng Lungsod ng Maynila</p>
                <p class="small-text">BS Computer Studies Major in Information Technology</p>
            </div>
        </div>
    </div>
</div>