<div class="experience-container primary-color">
    <div class="font-300 header-text center">
        <a>EXPERIENCE.</a>
    </div>
    <div class="experince-content font-300 body-text">
        <table class="mobile">
            <tr>
                <td class="year bold font-400">2017</td>
                <td class="bold font-400"><img src="../../../assets/ellipse.svg" alt="ellipse"></td>
                <td class="work font-400">Novare Technologies, Inc.</td>
            </tr>
            <tr>
                <td></td>
                <td><hr/></td>
                <td></td>
            </tr>            
            <tr>
                <td class="year bold font-400">2020</td>
                <td class="bold font-400"><img src="../../../assets/ellipse.svg" alt="ellipse"></td>
                <td class="work font-400">Manulife Philippines</td>
            </tr>
            <tr>
                <td></td>
                <td><hr/></td>
                <td></td>
            </tr>  
            <tr>
                <td class="year bold font-400">2020</td>
                <td class="bold font-400"><img src="../../../assets/ellipse.svg" alt="ellipse"></td>
                <td class="work font-400">Globe Telecom, Inc.</td>
            </tr>
        </table>
        <table class="desktop">
            <tr>
                <td class="year bold font-400">2017</td>
                <td class="bold font-400"><img src="../../../assets/ellipse.svg" alt="ellipse"></td>
                <td class="work font-400">Novare Technologies, Inc.</td>
            </tr>
            <tr>
                <td></td>
                <td><hr/></td>
                <td></td>
            </tr>            
            <tr>
                <td class="year bold font-400">2020</td>
                <td class="bold font-400"><img src="../../../assets/ellipse.svg" alt="ellipse"></td>
                <td class="work font-400">Manulife Philippines</td>
            </tr>
            <tr>
                <td></td>
                <td><hr/></td>
                <td></td>
            </tr>  
            <tr>
                <td class="year bold font-400">2020</td>
                <td class="bold font-400"><img src="../../../assets/ellipse.svg" alt="ellipse"></td>
                <td class="work font-400">Globe Telecom, Inc.</td>
            </tr>
        </table>
    </div>
</div>