<div class="experience-container">
    <div class="experince-content border mobile">
        <div class="experience" *ngFor="let item of experience; let i=index">
            <div class="experience-left">
                <p class="font-400 body-text">{{item.year}}</p>
            </div>
            <div class="experience-middle">
                <img src="../../../assets/ellipse.svg" alt="ellipse"/>
                <div *ngIf="i+1 !== experience.length"> 
                    <div class="vl"></div>
                </div>
            </div>
            <div class="experience-right">
                <p class="title font-400 small-text">{{item.title}}</p>
                <p class="small-text font-200">{{item.company}}</p>
            </div>
        </div>
    </div>
</div>