@import '../../../styles.scss';

.experience-container {
    height: auto;
    padding: 3% 0%;
}

.experience-item {
    display: flex;
    align-items: center;
}

.experience {
    display: flex;
    justify-content: center;
}

.experience-left {
    text-align: right;
    width: 75%;
    padding-right: 20px;
}

.experience-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl {
    height: 75px;
    width: 0px;
    border-left-width: 0px;
    border-style: dashed;
}

.experience-right {
    width: 100%;
    p {
        margin: 0% 5%;
    }
}

.year {
    width: 20%;
    text-align: right;
    padding-right: 5%;
}