<div class="profile-container primary-color">
    <div class="profile-content center">
        <div class="profile-body">
            <div class="font-300 profile-text center">
                <a>ABOUT.</a>
            </div>
            <div class="profile-body-content body-text font-300">
                My name is Joyce and I am a passionate and innovative Software Engineer with a strong dedication to crafting
                efficient, user-friendly, and scalable solutions.<br/><br/>
                For as long as I can remember, I've been captivated by the endless possibilities of software development.
                With 5 years of experience under my belt, I've had the pleasure of collaborating with talented teams and
                clients, crafting elegant solutions that make a real difference in people's lives.
                Embracing new challenges and staying up-to-date with industry trends keeps me inspired and motivated.<br/><br/>
                Random Facts
            </div>
        </div>
        <div class="profile-menu">
            <img src="../../../assets/profile.png"/>
            <div class="profile-content-title">
                <p></p>
            </div>
        </div>
    </div>
</div>