<div class="profile-container primary-color">
    <div class="profile-content center">
        <div class="profile-body">
            <div class="font-300 profile-text center">
                <a>ABOUT.</a>
            </div>
            <div class="profile-body-content body-text font-300 justify">
                For as long as I can remember, I've been captivated by the endless possibilities of software development. 
                With 5 years of experience under my belt, I've had the pleasure of collaborating with talented teams and clients, 
                crafting elegant solutions that make a real difference in people's lives. 
                Embracing new challenges and staying up-to-date with industry trends keeps me inspired and motivated.
                <br/><br/>
                As a developer, my passion lies in the intersection of creativity and technology. 
                I thrive on creating seamless user experiences, whether it's through intuitive mobile apps, dynamic web platforms, or efficient backend systems.
                 My goal is to build software that not only functions flawlessly but also resonates with its users on a profound level.
                 <br/><br/>
                 My diverse skill set covers a wide range of technologies and tools. 
                 From front-end technologies like HTML, CSS, JavaScript and Angular to back-end frameworks like Node.js and Python, 
                 I embrace each project with a tailored approach, handpicking the best tools for the job. 
                 Moreover, I'm well-versed in version control, cloud computing, and other essential development practices.
            </div>
        </div>
        <div class="profile-menu">
            <img src="../../../assets/profile.png"/>
            <div class="profile-content-title">
                <p></p>
            </div>
        </div>
    </div>
</div>