<div class="contact-container primary-color">
    <div class="font-300 header-text center">
        <a>CONTACT.</a>
    </div>
    <div class="contact-content font-300 body-text center">
        <div class="contact-socials">
            <p>Let me help you build your next website.<br/><br/>
                Email: <a href = "mailto:dizon.joyceal@gmail.com">dizon.joyceal@gmail.com</a><br/>
                On the Internet: <a href="https://www.linkedin.com/in/joyce-dizon/">LinkedIn</a> | 
                <a href="https://github.com/joycedzone">Github</a> |
                <a href="https://www.upwork.com/freelancers/~0191548ee10eab5189">Upwork</a>
        </div>
    </div>
</div>