@import '../../../styles.scss';

.contact-container {
    height: 50vh;
    padding: 3% 5%;
}

.contact-content {
    text-align: center;
    padding-top: 3%;
}

.contact-socials {
    padding-bottom: 3%;

    a:hover {
        font-weight: bold;
    }
}

