@import '../../../styles.scss';

.contact-container {
    height: auto;
    padding: 3% 5%;
}

.contact-content {
    text-align: center;
    padding-top: 3%;
}

.contact-socials {
    padding: 0% 20% 3%;

    a:hover {
        font-weight: bold;
    }
}

@media only screen and (min-width: 992px) {
    .contact-container {
        height: 50vh;
    }
}

