<div class="contact-container primary-color">
    <div class="font-300 header-text center">
        <a>CONTACT.</a>
    </div>
    <div class="contact-content font-300 body-text center">
        <div class="contact-form">
            <div style="display: flex; justify-content: flex-start;">
                <textarea class="form" style="margin-right: 1%;">Name</textarea>
                <textarea class="form">Email</textarea>
            </div>
            <textarea class="form">Subject</textarea>
            <textarea class="message form">Message</textarea>
        </div>
        <div class="contact-socials">
            <p>I can help you build your next website.<br/><br/>
                Email: dizon.joyceal@gmail.com<br/>
                On the Internet: LinkedIn | Github</p>
        </div>
    </div>
</div>