@import '../../../styles.scss';

.about-container {
    background-color: $primaryColor;
    height: 40vh;
    padding: 3% 5%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 4%;
}

.skills {
    padding-top: 5%;
    width: 100%;
}

.skills-item > a {
    padding-bottom: 1%;
}

.progress {
    background-color: $secondaryColor;
}

.progress-bar {
    background-color: $tertiaryColor;
    color: $primaryColor;
}

.more-details > a {
    text-decoration: underline 0.10em rgba(242, 32, 32, 0);
    transition: text-decoration-color 300ms;
}

.more-details > a:hover{
    cursor: pointer;
    text-decoration-color: $secondaryColor;
}

@media only screen and (min-width: 992px) {
    .about-container {
        height: auto;
    }
    .about-content {
        flex-direction: row;
        padding: 2%;
    }
    .about-body {
        width: 50%;
        padding: 0% 5%;
    }
    .skills {
        padding: 0%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-item {
        width: 75%;
    }
}