<div class="about-container secondary-color">
    <div class="font-300 header-text center">
        <a>ABOUT.</a>
    </div>
    <div class="about-content font-300 body-text center">
        <div class="about-body">
            <p>
                My name is Joyce and I am a passionate and innovative Software Engineer with a 
                strong dedication to crafting efficient, user-friendly, and scalable solutions.
            </p>
        </div>
        <div class="skills">
            <div class="skills-item">
                <a>Front-end Development</a>
                <div class="progress font-400">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
            </div>
            <div class="skills-item">
                <a>Back-end Development</a>
                <div class="progress font-400">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
            </div>
        </div>
    </div>
    <div class="more-details font-300 body-text center pointer">
        <a href="/about">READ MORE HERE</a>
    </div>
</div>