<div class="credentials-container secondary-color">
    <div class="font-300 header-text center">
        <a>CREDENTIALS.</a>
    </div>
    <div class="credentials-label tertiary-color center">
        <a (click)="toggle('edu')" id="edu" class="label font-300 body-text">EDUCATION</a>
        <a (click)="toggle('work')" id="work" class="active label font-300 body-text">WORK</a>
        <a (click)="toggle('cert')" id="cert" class="label font-300 body-text">CERTIFICATIONS</a>
    </div>
    <div class="credentials-content">
        <div class="credentials" *ngFor="let item of credentials; let i=index">
            <div class="credentials-left">
                <p class="font-400 body-text">{{item.year}}</p>
            </div>
            <div class="credentials-middle">
                <img src="../../../assets/ellipse.svg" alt="ellipse" />
                <div *ngIf="i+1 !== credentials.length">
                    <div class="vl"></div>
                </div>
            </div>
            <div class="credentials-right">
                <p class="title font-400 body-text">{{item.title}}</p>
                <p class="small-text font-200">{{item.subTitle}}</p>
            </div>
        </div>
    </div>
</div>