@import '../../../styles.scss';

.credentials-container {
    background-color: $primaryColor;
    height: auto;
    padding: 3% 5%;
}

.credentials-label {
    padding-top: 3%;
    text-align: center;
    a {
        padding: 0% 1%;
    }
    a:hover{
        cursor: pointer;
        font-weight: bold;
    }
}

.active {
    font-weight: bold;
    color: #fff;
}

.credentials-content {
    padding-top: 5%;
}

.credentials-item {
    display: flex;
    align-items: center;
}

.credentials {
    display: flex;
    justify-content: center;
}

.credentials-left {
    text-align: right;
    width: 70%;
    padding-right: 20px;
}

.credentials-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl {
    height: 75px;
    width: 0px;
    border-left-width: 0px;
    border-style: dashed;
}

.credentials-right {
    width: 100%;
    p {
        margin: 0% 5%;
    }
}

.year {
    width: 20%;
    text-align: right;
    padding-right: 5%;
}

@media only screen and (min-width: 992px) {
    .credentials-left {
        width: 80%;
    }
    .credentials-content {
        padding-top: 3%;
    }
}